body{
    font: 8pt "Trebuchet MS" sans-serif;
    margin: 30 50px;
    background: #ededed;
    text-align: center;
}

#version{
    text-align: right;
    padding: 0;
    position: absolute;
    top: 30px;
}

#fsg{
    background: #ededed;
    text-align: right;
    padding: 10px 10px 15px 2px;
    margin: 20px 0px 0px 0px;
    border: 1px solid #999;
    width: 430px;
    height: 330px;
}

h1{
    padding: 0;
    margin: 10;
    text-align: left;
}

#vers{
    text-decoration: none;
    color: #000;
}

#vers:hover{
    text-decoration: underline;
    cursor: pointer;
}

#content,
#content p{
    margin: 0 auto;
    width: 800px;
}

#toolbar{
    text-align: left;
    padding: 2px 4px;
}

#about{
    float: right;
    padding: 0 2px;
    margin: 2px 3px;
}

#number_in{
    width: 300px;
    background: #fff;
    border: 1px #999 solid;
    padding: 5px;
}

.dialog{
    font: 10pt "Trebuchet MS" sans-serif;
    text-align: left;
}

#proof{
    margin: 5px 0;
    padding: 30px;
    min-height: 50%;
    text-align: left;
}

h6{
    font: 16pt "Times" monospace;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px 0;
}

#proof p{
    font: 12pt "Times" serif;
    padding: 4px 0px;
    max-width: 740px;
}

#statement{
    margin: 8px 0;
    min-height: 35px;
}

#inner_statement{
    padding: 0px 22px;
    margin: 4px;
    min-height: 30px;
}


#statement p{
    padding: 8px 4px;
    max-width: 740px;
    font: 12pt "Times" serif;
    text-align: left;
}

#credits{
    padding: 3px;
}

#credits table{
    width: 100%;
}

#credits td{
    width: 50%;
    font: 8pt sans-serif;
}

span.list:hover{
    color: #999;
    cursor: pointer;
}

.pf{
    display: none;
    text-align: left;
    position: absolute;
    top: 100px;
    z-index: 2;
}

.square{ text-align: right; }
.ui-widget-overlay { background: #000; opacity: .50;filter:Alpha(Opacity=50); }

h6.case{
    font: 12pt "Trebuchet MS" sans-serif;
    font-weight: bolder;
    padding: 25px 0 0 0;
    margin: 0;
}

.ui-state-error{
    margin: 20px 100px;
    padding: 20px;
}
